.about-me {
  position:absolute;
  top:0px;
  opacity: 0;
  height:900px;
  width: 100%;
  overflow-y:scroll;
  @media (min-width: 768px) {
    height: 60vh;
  }

  .photo-section {
    width: 0%;
    height: 100%;
    display:block;
    background-image: url("me_photo.jpg");
    background-size:cover;
    background-position: center;
    float:left;
  }

  .overlay-2 {
    width: 100%;
    height: 100%;
    display:block;
    background-color:rgba(0, 0, 0, 0.64);
  }

  .text-description {
    position:relative;
    color:black;
    width: 100%;
    height: 100%;
    float:left;
    font-size:20px;
    letter-spacing: 3px;
    overflow-y:scroll;
    text-align: justify;
    p {
      position: absolute;
      font-weight:lighter;
      font-family: "Avenir Next";
      top: 0px;
      padding: 5px;
      line-height: 42px;
      color:black;
      overflow:scroll;
    }

  }
}
